@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color: #000732;
  --light-color: #e6e9ff;
  --success-color: #8fff8f;
  --error-color: #ff0000;
  --white: #fff;
  --grey: #d1f5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  overflow-x: hidden;
  padding: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.chatbox {
  width: 90vw;
  height: 600px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 6px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chats {
  max-height: 600px;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat-form {
  display: flex;
  padding: 1rem;
  width: 100%;
  gap: 15px;
  position: relative;
}

#chat {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid var(--dark-color);
  border-radius: 6px;
  outline: none;
}

.message {
  padding: 1rem;
  border-radius: 6px;
  width: fit-content;
  max-width: 50%;
  align-self: flex-end;
  background-color: var(--success-color);
}

.message:nth-child(even) {
  align-self: flex-start;
  background-color: var(--grey);
}

.meta {
  color: grey;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.meta span {
  opacity: 0.7;
  font-size: 0.7rem;
}

.text {
  color: var(--dark-color);
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
  color: var(--dark-color);
  border: 0;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 17px;
}

.btn:hover {
  color: var(--success-color);
}

.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem var(--error-color);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media (max-width: 500px)  {
  .message {
    max-width: 90%;
  }
}